<!DOCTYPE html>
<html>
  <head>
    <title>Invitation</title>
  </head>

  <body>
    <h1>Create Your Own Invitation!</h1>
    <img src="https://image.shutterstock.com/image-photo/young-people-communicating-by-drink-260nw-583816240.jpg">
    
    <form method="POST" action="/results">
  <p>Type of Party: <input type="text" name="name"></p>
  <p>Date: <input type="text" name="date"></p>
  <p>Address: <input type="text" name="address"></p>
  <p>Dress Code: <input type="text" name="dress"></p>
  <p>E-mail: <input type="text" name="email"></p>
  <input type="submit">
    </body>
    
    </html>
    
    