<!DOCTYPE html>
<html>
  <head>
    <title>Your Invitation!</title>
  </head>

  <body> 
  <h3> Here is your brand new invitation: </h3>
  <%= "You've been cordially invited to #{params[:name]}, taking place on #{params[:date]}. The party will be hosted at #{params[:address]}, and be sure to come in your best #{params[:dress]}. Please send an your RSVP tp #{params[:email]}. Hope to see you there!" %>
  
  <h4> You're all set! Copy and paste the text of your brand new invitation to get the party started! Thank you for choosing our services.</h4>
  
  
  </body>
  </html>